__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/

.ipynb_checkpoints/

runs/
outputs/logs/
outputs/predictions/
outputs/metrics/

*.onnx
*.engine
*.xlsx

.DS_Store
Thumbs.db
*.pt
*.pth

datasets/train/
datasets/valid/
datasets/test/